body {
    margin: 0;
    padding: 0;
}












































/*----Footer*/
Footer{
    margin-left: 0;
}

.footer-information-section{
    display: flex;
    justify-content: flex-start;
}

.logo-footer{
    width: 100x;
    height: 100px;
    padding: 0%;    
    margin: 0px 0 0 50px;
    
}

.div-contact-us{
    margin: 10px 0px 0 700px;
    padding: 0;
    list-style-type: none;
    font-size: 15px;
}

.div-designers{
    margin: 10px 0 0 70px;
}

.list-title-contact-us, .list-title-designers{
    margin: 0 0 10px 0px;
    font-size: 20px;
    
}

.list-networks, .list-designers{

    color: palevioletred;
    margin: 0 0 5px 0;
    padding: 0;
    list-style-type: none;
    font-size: 15px;
}

.list-networks li, .list-designers li{
    margin: 0px 0px 6px 0px;
    list-style-type: none;
    text-decoration: none;
}

.programmer-networks{
    margin-left: 25px;
    padding: 0px;
}

.list-designers p{
    margin: 0px
}

.list-networks a, .list-designers a{
    text-decoration: none;
    color: black;
}

.derechos{
    background-color: #f8b5d1;
    padding: 0px 10px 5px 450px;
}

.derechos p{
    margin-top: 0px;
    padding-top: 10px;
}
/*----*/